html {
  background-color: #fefefe;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}

main {
  max-width: 40rem;
}

section {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}

textarea {
  width: 100%;
}
